@charset "UTF-8";

body{
    background-image: url(imagem/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.header{
    width: 500px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto auto -16px auto;
    text-align: center;
}

section{
    width: 500px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
}

label{
    font-weight: bold;
}

p{
    font-weight: bold;
}

.adicione-tarefa{
    padding: 15px;
}

.editar-tarefa{
    padding: 15px;
}

.botao-cancelar{
    margin-top: 20px;
}

.pesquisar-filtrar{
    padding: 15px;
    justify-content: space-between;
}

.linha-pesquisar-filtrar{
    height: 45px;
    border-left: 2px solid;
}

.tarefa-filho{
    justify-content: space-between;
    padding-top: 25px;
}

.tarefa-feita-pai{
    background-color: rgb(57, 82, 105);
}

.tarefa-feita p{
    color: white;
    text-decoration: line-through;
}

.botoes-editar-feito-limpar {
    display: flex;
    height: 32px;
    column-gap: 5px;
}

button:hover{
    background-color: #132f5d;
    transition: 2s;
}