@charset "UTF-8";

body{
    background-image: url(imagem/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header{
    background-color: white;
}

main{
    background-color: white;
}


label{
    font-weight: bold;
}

p{
    font-weight: bold;
}